<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Explore</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chatroom.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="icon" href="{{ url_for('static', filename='lo.png') }}" >
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cover.css') }}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="70">

  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('home')}}"><img src="../static/logo.png" alt="Explore logo" height="24"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{url_for('newsfeed',user_id = person.id, next = 0)}}">NewsFeed <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="{{url_for('home')}}">Chat box</a></li>
            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="../static/settings.png" height="20"> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{url_for('edit_profile', user_id = person.id)}}">edit profile</a></li>
                <li><a href="{{url_for('home')}}">Log out</a></li></li>
                </ul>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav><br><br><br><br>


  <div class=" row ">
    <div class="col-md-1 col-sm-1 col-xs-1"></div>
    <div id = "cb" class="col-md-7 col-sm-6 col-xs-6"><h1>{{person.first_name}}:</h1>
      <div class="row">
        <div class="col-md-5 alri">
          <h2 class="alle">Hiii !</h2><br>
          <h2 class="alle">How are you ??</h2><br>
          <h2 class="alle">Im good Thank you for asking</h2><br>
          <h2 class="alle">So, how did you know the answer for the quistion ?</h2><br>
          <h2 class="alle">Nice what else do you know ??</h2><br>
        </div>
      <div class="col-md-2"></div>

        <div class="col-md-5 alle">
          <br><h2 class="alri">Hey !</h2><br>
          <h2 class="alri">Im fine, and you ?</h2><br><br>
          <h2 class="alri">Sure!!, no problem</h2><br><br><br>
          <br><h2 class="alri">I knew it from a Book I read</h2><br>
        </div>
      </div>
  <div class="row">
    <div class="col-md-10">
        <input class = "form-control" type="text" name="chat">
    </div>
    <div class="col-md-2">
      <button type="submit" id = "bt" class="btn btn-primary btn-lg" data-toggle="modal"><span class= "glyphicon glyphicon-send"></span> Send</button>
    </div>
  </div>
  </div>
  <div class="col-md-1 col-sm-1 col-xs-1"></div>
  <div class="col-md-3 col-sm-4 col-xs-4">
    
  <h2>Your Friends Are Waiting :</h2><br>
    <div class="row"><img class="img-circle" height="75" width="75" src="../static/1.jpg"></div><h3>Shaked</h3><br>
    <div class="row"><img class="img-circle" height="75" width="75" src="../static/2.jpg"></div><h3>Hila</h3><br>
    <div class="row"><img class="img-circle" height="75" width="75" src="../static/3.jpg"></div><h3>Guyguy</h3><br>
    <div class="row"><img class="img-circle" height="75" width="75" src="../static/4.jpg"></div><h3>Aseel</h3>

  </div>
</div>








</body>
</html>