

{%extends "base.html"%}





{% block pagecont %}

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover"><br><br><br><br>
            <p class="lead hbio">Hello <b>Al-Awael AC</b>.</p>
            <br><br>
            <p class="lead">
              <a class = "btn btn-lg btn-success" href="{{url_for('postreport')}}"><span class = "glyphicon glyphicon-comment" ></span> Check your Reports </a>
            </p>
          </div>


          <div class="mastfoot">
            <div class="inner">

            <div class="alert alert-danger" role="alert">
You have 1 new report Check it out.
</div>
              <p>All rights reserved®, by <a href="https://twitter.com/_MusaHawa">@Explore</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>


{% endblock %}