

{%extends "base.html"%}





{% block pagecont %}

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover"><br><br><br><br>
            <img src="../static/logo.png" class="img-responsive logo_img" alt="Explore logo"><br><br>
            <p class="lead hbio">Hello and Welcome to <b>AConnect</b>, where you can track your work and check for maintenance, effortlessly in minutes without going to anywhere.</p>
            <p class="lead">
              <a class = "btn btn-lg btn-success" href="{{url_for('login')}}"><span class = "glyphicon glyphicon-log-in" ></span> Log in </a>
            </p>
            <p class = "lead">
              <a class ="btn btn-lg btn-primary" href="{{url_for('signup')}}"><span class = "glyphicon glyphicon-user" ></span> Sign Up</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>All rights reserved®, by <a href="https://twitter.com/_MusaHawa">@Explore</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>


{% endblock %}