<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="../bootstrap-3.3.6/docs/assets/js/ie-emulation-modes-warning.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cover.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signin.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='lo.png') }}" >
    <title>Explore</title>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

 <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{url_for('home')}}"><img src="../static/logo.png" alt="Explore logo" height="24"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {%block first%}<li><a href="{{url_for('home')}}">Home</a></li>{%endblock%}
            {%block second%}<li><a href="{{url_for('contactus')}}">Contact</a></li>{%endblock%}
            {%block third%}<li><a href="{{url_for('aboutus')}}">AboutUs</a></li>{%endblock%}
            {%block fourth%}{%endblock%}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

          <div class="inner cover">
            <h1 class="form-signin-heading" >Please Sign in</h1><br><br>
            <form method = 'POST' action = "{{url_for('loginuser')}}" class="form-signin">
              <label for="inputEmail" class="sr-only">Email address: </label>
              <input type="email" id="inputEmail" class="form-control" placeholder="Email Adress" name = "email" required autofocus>
              <label for="inputPassword" class="sr-only">Password: </label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" name = "password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain : 1- at least one number 2- one uppercase 3- lowercase letter 4- at least 8 or more characters" required><br>
              <div class="checkbox">
                <label>
                <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button><br><br>

                {% if error %}
                  <div class="alert alert-danger">
                    <p class=error><strong>Error:</strong> {{ error }}
                  </div>
                {% endif %}

            </form>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>All rights reserved®, by <a href="https://twitter.com/_MusaHawa">@Explore</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
